@import 'tailwindcss';

:root {
    --white-primary: #f5f5f7;
    --blue-primary: #33b4e2;
    --red-primary: #ff0000;
}

@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: url(./lib/fonts/Exo-Light.ttf);
}

@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    src: url(./lib/fonts/Exo-Regular.ttf);
}

@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    src: url(./lib/fonts/Exo-Bold.ttf);
}

.exo-400 {
    font-family: 'Exo', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: light;
}

.exo-500 {
    font-family: 'Exo', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.exo-700 {
    font-family: 'Exo', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.fadeFromTop {
    transform: translateY(20px);
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.fadeFromBottom {
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.visibleY {
    transform: translateY(0px);
    opacity: 1;
}

.fadeFromLeft {
    transform: translateX(-20px);
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fadeFromRight {
    transform: translateX(20px);
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visibleX {
    transform: translatex(0px);
    opacity: 1;
}